@model IEnumerable<WebTestAssesment.Controllers.MarksViewModel>

@{
    ViewData["Title"] = "MarksView";
  
}
<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            @foreach (var employee in (IEnumerable<Course>)ViewData["Courses"])
            {
                <th>@employee.CourseName</th>
            }
            <th>
                @Html.DisplayNameFor(model => model.TotalMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                @{
                    var sn = item.StudentId;
                    var cn = item.CourseId;
                    int cc = item.CoursesCount;
                    int i = 0;
                    if (item.CoursesNames.Count < cc)
                    {
                        for (int ii = item.CoursesMarks.Count; ii < cc; ii++)
                        {
                            item.CoursesMarks.Add(0);
                        }
                        
                    }
                }
                @foreach(var mark in item.CoursesMarks)
                {
                    if (i <= cc)
                    {
                        if (item.CoursesMarks[i]!=0)
                        {
                            <td>
                                @item.CoursesMarks[i]
                            </td>
                        }  
                      else
                        {
                            <td>
                            </td>
                        }
                    }
                   
                    i++;
                }
           
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Average)
                </td>
            </tr>
        }
    </tbody>
</table>